@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
*{
    font-family: "Madimi One", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Madimi+One&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
header{
    position:static;
    padding:0px 30px;
    background-color: rgba(255, 255, 255, 0.815);
    backdrop-filter: opacity;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    position: relative;
    color: rgb(10, 12, 133);
    font-size: 2rem;
}

.navigation a{
    font-size: 1.1em;
    color: rgb(10, 12, 133);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    margin-left: 20px;
}

.navigation .opbtn{
    width: 5em;
    height: 2.2em;
    font-size: 1.1em;
    color: rgb(10, 12, 133);
    outline: none;
    background-color: transparent;
    border: 2px solid rgb(10, 12, 133);
    border-radius: 10px;
    margin-left: 1em;
    transition: 0.5s;
}

.navigation .opbtn:hover{
    background-color: rgb(10, 12, 133);
    color: white;
}

.navigation a::after{
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    background-color: rgb(10, 12, 133);
    height: 3px;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}

body{
    background-image: url("background1.jpeg");
    background-size: cover;
}

.container{
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 30px;
}

.form_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding: 30px;
    background-color: rgba(255, 255, 255, 0.63);
    border: solid 2px white;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    box-shadow: 0.5px 0.5px 30px black;
}

.form_box h1{
    font-size: 50px;
    font-family: "Truculenta", sans-serif;
    font-style: normal;
}

.form_input{
    width: 100%;
    position: relative;
    line-height: 50px;
    text-align: center;
}
.form_input input{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid 2px black;
    padding-bottom: 5px;
}

.form_input label{
    position: absolute;
    left: 5px;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
    
}

.form_input input:focus ~ label,
.form_input input:valid ~ label{
    transform: translateY(-20px);
    font-size: .8em;
}


.form_input button{
    text-align: center;
    background-color: transparent;
    outline: none;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 1em;
    width: 80%;
    margin-top: 10px;
}

.form_input button:hover{
    background-color: black;
    color: white;
}

.other{
    text-align: center;
    line-height: 1px;
}

.other a{
    color: blueviolet;
}

.other a:hover{
color: blue;
}


#registered_box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#registered_box > div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    font-size: 1em;
    border-radius: 20px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.897);
}

#registered_box > div > button{
    width: 5em;
    height: 2.2em;
    font-size: 1.1em;
    color: rgb(10, 12, 133);
    outline: none;
    background-color: transparent;
    border: 2px solid rgb(10, 12, 133);
    border-radius: 10px;
    margin-left: 1em;
    transition: 0.5s;
}
#registered_box > div > button:hover{
    background-color: rgb(10, 12, 133);
    color: white;
}

.profile{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 50px;
    color: transparent;
    border: 2px solid rgb(10, 12, 133);;
    background-image: url("loggedIn.png");
    background-size: cover;
    transition: .5s;
}

.profile:hover{
    background-color:rgba(10, 12, 133, 0.747);
}


.menu{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    grid-gap: 10px;
    align-items:;
    justify-items:;
}

.menu > div{

    background-color: blueviolet;
}


